.section{
    color: white;
}

.s0{
    background-image: url('/image/seoul.jpg');
    background-size: cover;
}
.s1{
    background-image: url('/image/lasvegas.jpg');
    background-size: cover;
}
.s1 h3{
    display: none;
}
.s2{
    background-image: url('/image/sanfrancisco.png');
    background-size: cover;
}
.s3{
    background-image: url('/image/newyork.jpg');
    background-size: cover;
}

#fp-nav ul li a span{
    background-color: white;
}